html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

.container {
  display flex;
  max-width: 960px;
}

header {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: white;
  background-color: black;
  width: 100%;
}

header img {
  height: 1.5rem;
  margin: 0 1rem 0 0.5rem;

}

header h3 {
  margin: 0.66rem 0;
}

.main-banner {
  background-image: url("../../resources/images/sam banner moto.jpeg");
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner {
  height: 10rem;
  width: 25rem;
  background-color: black;
  color: white;
  font-weight: bold;
}

.banner h3 {
  font-size: 1rem;
  padding-top: 2rem;
  margin-left: 3rem;
}

.banner h1 {
  font-size: 2rem;
  margin: 0.25rem 0 0 3rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: firebrick;
  height: 2.5rem;
}

span a {
   text-decoration: none;
   font-size: 1rem;
   color: white;
}
